.fade-in-image {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade {
    animation: fade 2s;
    -webkit-animation: fade 2s;
    -moz-animation: fade 2s;
    -o-animation: fade 2s;
    -ms-animation: fade 2s;
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

  @-moz-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

  @-o-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

  @-ms-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

  .slide-left {
    animation: slideLeft .5s;
  }